@import "tailwindcss";

@theme {
  --color-primary: #0B1F3A;
  --color-accent: #C9A84C;
  
  --color-base: #FAF8F3;
  --color-text-dark: #1A1A2E;

  --color-success: #2ECC71;
  --color-warning: #F1C40F;
  --color-danger: #E74C3C;

  --font-display: 'Playfair Display', serif;
  --font-body: 'Source Serif 4', serif;
  --font-ui: 'DM Sans', sans-serif;
}

:root {
  font-family: var(--font-body);
  background-color: var(--color-base);
  color: var(--color-text-dark);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}